@CHARSET "ISO-8859-1";
html {
  overflow-y: scroll;
}

html, body {
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 0; 
    margin-right: 0;
    padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
	height:100%;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: auto auto;
	background-position: center center;
}

.blue-gradient-block{ 
	display:block;
	min-height: 80px;
	background: rgba(0,76,139,1);
	background: -moz-linear-gradient(top, rgba(0,76,139,1) 0%, rgba(0,96,174,1) 50%, rgba(0,76,139,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,76,139,1)), color-stop(50%, rgba(0,96,174,1)), color-stop(100%, rgba(0,76,139,1)));
	background: -webkit-linear-gradient(top, rgba(0,76,139,1) 0%, rgba(0,96,174,1) 50%, rgba(0,76,139,1) 100%);
	background: -o-linear-gradient(top, rgba(0,76,139,1) 0%, rgba(0,96,174,1) 50%, rgba(0,76,139,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,76,139,1) 0%, rgba(0,96,174,1) 50%, rgba(0,76,139,1) 100%);
	background: linear-gradient(to bottom, rgba(0,76,139,1) 0%, rgba(0,96,174,1) 50%, rgba(0,76,139,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c8b', endColorstr='#004c8b', GradientType=0 );
	min-height: 69px;
	margin-bottom:13px;
	width:100%;
}

.content {
	padding:0;
	margin:0;
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

#header-contents {
	margin-left:auto;
	margin-right:auto;
	width:680px;
}

#selectedAccountIcon {
	margin-top:0px;
	margin-right:40px;
	padding-left:40px;
	padding-top:5px;
	width:150px;
	height:30px;
	background-image: url(../images/32_account.png);
	background-repeat:no-repeat;
	float:left;
}
#balanceAccountIcon {
	margin-top:0px;
	margin-right:40px;
	padding-left:40px;
	padding-top:5px;
	width:150px;
	height:30px;
	background-image: url(../images/32_MoneyB.png);
	background-repeat:no-repeat;
	float:left;
}
#availableAccountIcon {
	margin-top:0px;
	margin-right:0px;
	padding-left:40px;
	padding-top:5px;
	width:150px;
	height:30px;
	background-image: url(../images/32_MoneyA.png);
	background-repeat:no-repeat;
	float:left;
}

#header {
	font-size: 12px;
	padding-bottom: 9px;
	margin: 0px;
	border-bottom: 1px solid #eeeeee;
	height:36px!important;
	background-color: #fbf7f8;
}

#top-block {
	height: 95px;
}

#top-block-main {
	position:relative;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
	width:67%;
	background-color:none;
}

#logo {
	width:216px;
	height:93px;
	background-image: url(../images/myBank.png);
	float:left;
}

#navbar {
	padding-left:20px;
	padding-top:45px;
	float:left;
	color: #3d6083;
}
 
 #main {
	position:relative;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:67%;
	background-color:none;
}

 .navmenu a:link, .navmenu a:visited {
	color: #3d6083;
	background-color:#000000;
	text-decoration: none; 
	background:#ffffff;
	outline: 0;
}

.navmenu a:hover {
	color: #fc941a;
	background-color:#000000;
	background:#ffffff;
	outline: 0;
}

.pure-menu, .pure-menu li a {
	border: 1px solid transparent;
	outline: 0;
} 

.pure-menu li a:hover,.pure-menu li a:focus {
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	outline: 0;
}

.pure-menu li ul:hover, .pure-menu li li a:hover {
	border: 0;
	outline: 0;
} 
.pure-menu li ul {
	border: 0!important; border-top: 1px solid #ddd!important; border-left: 1px solid #eee!important;
	box-shadow: 1px 2px 3px rgba(0,0,0,.1)!important;
}
.pure-menu li a { padding: 13px 20px!important; color: #373737; text-shadow: 0 1px 1px #fff; }
.pure-menu li li a { padding: 6px 20px!important; }
.pure-menu-children a { outline: 0; padding: 4px 20px!important; font-size: 14px; }
.pure-menu-children .pure-menu-separator { margin: 0 2px!important; }
.pure-menu-children li { border-bottom: 0!important; }

.arrow {
	display: inline-block; zoom: 1; *display: inline;
	width: 0; height: 0; vertical-align: middle;
	border-right: 4px solid transparent; border-left: 4px solid transparent; border-top: 4px solid #888;
}

.pure-table {
	font-size:80%;
	text-align:left;
}

.table-header-image {
	height:35px;
}

.table-header-image img {
	margin-right:10px;
}

.tdlarge {
	min-width:100px;
	max-width:250px;
}

.tdsmall {
	width:20px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

*{font-family:Verdana;}

/* unvisited link */
a:link {
    color: #424242;
    text-decoration: none;
	outline: 0;
}

/* visited link */
a:visited {
    color: #424242;
    text-decoration: none;
	outline: 0;
}

/* mouse over link */
a:hover {
    color: #424242;
    text-decoration: underline;
	outline: 0;
}

/* selected link */
a:active {
    color: #424242;
    text-decoration: none;
	outline: 0;
}

p { 
	margin: 0;
	padding: 0;
}

p.income { 
	margin: 0;
	padding: 0;
	color: #008000;
	font-weight:bold;
}

p.expense { 
	margin: 0;
	padding: 0;
	color: #800000;
	
	font-weight:bold;
}

p.selectedAccount { 
	margin: 0;
	padding: 0;
	font-style:oblique;
	color: #000000;
}

em {
    font-style: italic;
    color: black;
}

ul
{
    list-style-type: none;
    list-style: none;
}

li
{
    list-style-type: none;
    list-style: none;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.header {
	width: 100%;
	height: 60px;
	background-color: #f1f1f1;
}

.navigation {
	position:absolute;
	top:5px;
	left:20px;
	width: auto;
	height: 20px;
}

.userpanel {
	position:absolute;
	top:5px;
	right:20px;
	width: auto;
	height: 20px;
	float: left;
}

.balance {
	position:absolute;
	top:5px;
	right:350px;
	width: auto;
	height: 20px;
}

.availableFunds {
	position:absolute;
	top:30px;
	right:350px;
	height: 20px;
}

#description {
	position: absolute;
	padding-top:10px;
	padding-left:15px;
	margin-left:450px;
	margin-top:30px;
	background-color: #f1f1f1;
	width:300px;
	height:300px;
}
 
.accountList {
	position:relative;
	top:50px;
	left:20px;
	width:580px;
	/*height:300px;*/
	overflow-y:auto;
	overflow-x:hidden;
}

.SCSDownload {
	position:absolute;
	top:0px;
	left:400px;
	width:220px;
	height:30px;

}

.accountCreation {
	position:absolute;	
	left:180px;
	top:0px;
	
	width:220px;
	height:30px;
}

#createNewAccountButton {
	width:200px;
}

.accountOverview {
	padding-top:80px;
}
.pure-button2 {
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.pure-button2::-moz-focus-inner{
	padding:0;
	border:0
}

.pure-button2 {
	width:300px;
		padding:.5em 1em;
	color:#444;
		*color:#444;
			border:0 rgba(0,0,0,0);
			border:1px solid #999;
				border-radius:2px;
		background-color:none;
	text-decoration:none;
	/*
	font-family:inherit;
	font-size:100%;
	*font-size:90%;
	*overflow:visible;
	padding:.5em 1em;
	color:#444;
	color:rgba(0,0,0,.8);
	*color:#444;
	*/
	/* border:1px solid #999; */
	/*
	border:0 rgba(0,0,0,0);
	background-color:none;
	text-decoration:none;
	border-radius:2px
	*/
}

.pure-button2-hover,.pure-button2:hover,.pure-button2:focus {
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.pure-button2:focus {
	outline:0
}

.pure-button2-active,.pure-button2:active { 
	background-color:orange;
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.pure-button2[disabled],.pure-button2-disabled,.pure-button2-disabled:hover,.pure-button2-disabled:focus,.pure-button2-disabled:active {
	border:0;background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4
	;cursor:not-allowed;
	box-shadow:none
}

.pure-button2-hidden {
	display:none
}

.pure-button2::-moz-focus-inner {
	padding:0;
	border:0
}

.pure-button2-primary,.pure-button2-selected,a.pure-button2-primary,a.pure-button2-selected {
	background-color:#0078e7;
	color:#fff
}

#desc {
	vertical-align: text-top;
	height:80px;
}



