@CHARSET "ISO-8859-1";
html, body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
	width: 100%;
	height: 100%; 
	color: #545454;
}

*{font-family:Verdana;}

/* unvisited link */
a:link {
    color: #424242;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #424242;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #424242;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #424242;
    text-decoration: none;
}

p { 
	margin: 0;
	padding: 0;
}

p.income { 
	margin: 0;
	padding: 0;
	color: #008000;
	font-weight:bold;
}

p.expense { 
	margin: 0;
	padding: 0;
	color: #800000;
	
	font-weight:bold;
}

p.selectedAccount { 
	margin: 0;
	padding: 0;
	font-style:oblique;
	color: #000000;
}

.content {
	padding:0;
	margin:0;
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

em {
    font-style: italic;
    color: black;
}

ul
{
    list-style-type: none;
    list-style: none;
}

li
{
    list-style-type: none;
    list-style: none;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.header {
	width: 100%;
	height: 60px;
	background-color: #f1f1f1;
}

.navigation {
	position:absolute;
	top:5px;
	left:20px;
	width: auto;
	height: 20px;
}

.userpanel {
	position:absolute;
	top:5px;
	right:20px;
	width: auto;
	height: 20px;
	float: left;
}

.balance {
	position:absolute;
	top:5px;
	right:350px;
	width: auto;
	height: 20px;
}

.availableFunds {
	position:absolute;
	top:30px;
	right:350px;
	height: 20px;
}

.main {
	position:relative;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
	height:500px;
	background-color:none;
}

#description {
	position: absolute;
	padding-top:10px;
	padding-left:15px;
	margin-left:450px;
	margin-top:30px;
	background-color: #f1f1f1;
	width:300px;
	height:300px;
}
 
.accountList {
	position:relative;
	top:50px;
	left:20px;
	width:425px;
	/*height:300px;*/
	overflow-y:auto;
	overflow-x:hidden;
}

.SCSDownload {
	position:absolute;
	top:150px;
	left:550px;
	width:220px;
	height:30px;

}

.accountCreation {
	position:absolute;	
	left:180px;
	top:0px;
	
	width:220px;
	height:30px;
}

#createNewAccountButton {
	width:200px;
}

.accountOverview {
	padding-top:80px;
}
.pure-button2 {
	display:inline-block;
	*display:inline;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:baseline;
	text-align:center;
	cursor:pointer;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.pure-button2::-moz-focus-inner{
	padding:0;
	border:0
}

.pure-button2 {
	width:300px;
		padding:.5em 1em;
	color:#444;
		*color:#444;
			border:0 rgba(0,0,0,0);
			border:1px solid #999;
				border-radius:2px;
		background-color:none;
	text-decoration:none;
	/*
	font-family:inherit;
	font-size:100%;
	*font-size:90%;
	*overflow:visible;
	padding:.5em 1em;
	color:#444;
	color:rgba(0,0,0,.8);
	*color:#444;
	*/
	/* border:1px solid #999; */
	/*
	border:0 rgba(0,0,0,0);
	background-color:none;
	text-decoration:none;
	border-radius:2px
	*/
}

.pure-button2-hover,.pure-button2:hover,.pure-button2:focus {
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.pure-button2:focus {
	outline:0
}

.pure-button2-active,.pure-button2:active { 
	background-color:orange;
	box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
}

.pure-button2[disabled],.pure-button2-disabled,.pure-button2-disabled:hover,.pure-button2-disabled:focus,.pure-button2-disabled:active {
	border:0;background-image:none;
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
	filter:alpha(opacity=40);
	-khtml-opacity:.4;
	-moz-opacity:.4;
	opacity:.4
	;cursor:not-allowed;
	box-shadow:none
}

.pure-button2-hidden {
	display:none
}

.pure-button2::-moz-focus-inner {
	padding:0;
	border:0
}

.pure-button2-primary,.pure-button2-selected,a.pure-button2-primary,a.pure-button2-selected {
	background-color:#0078e7;
	color:#fff
}

#desc {
	vertical-align: text-top;
	height:80px;
}
